@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@100;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@100;300;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;

}
html{

    scroll-behavior: smooth;

}

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Lobster';
    font-size: 36px;
    color: Orange;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: Orange;
}
.nav-responsive{
    background-color: Orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}

/*SECCION HOME*/
.home{
    background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1)),url(Imagenes/Gatito.png);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}
.home .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;

}
.home .contenido-banner img{
    margin-top: 40px;
    border: 10px solid Orange;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.home .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Roboto Mono';
}
.home .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.home .contenido-banner .redes a{
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.home .contenido-banner .redes a:hover{
    background-color: Orange;
}

/*ABOUT ME*/

.aboutme{
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;

}
.aboutme .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}
.aboutme h2{
    font-size: 48px;
    font-family: 'Roboto Mono';
    text-align: center;
    padding: 20px 0;

}
.aboutme .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;

}
.aboutme .contenido-seccion p span{
    color: Orange;
    font-weight: bold;

}
.aboutme .fila{
    display: flex;
}
.aboutme .fila .col{
    width: 50%;
}
.aboutme .fila .col h3{
    font-size: 28px;
    font-family: 'Lobster';
    margin-bottom: 25px;

}
.aboutme .fila .col ul{
    list-style: none;

}
.aboutme .fila .col ul li {
    margin: 12px 0;

}
.aboutme .fila .col ul li strong{
    display: inline-block;
    color: Orange;
    width: 130px;
}
.aboutme .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.aboutme .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.aboutme .fila .col .contenedor-intereses .interes:hover{
    background-color: Orange;
}
.aboutme .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;

}
.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: white;
    position: relative;
    z-index: 10;
}
.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: Orange;
    z-index: -1;
    transition: 1s;
}
.aboutme button:hover .overlay{
    width: 100%;
}

/*SECCION SKILLS*/

.skills{
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;

}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}
.skills h2{
    font-size: 48px;
    font-family: 'Roboto Mono';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;

}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;

}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Lobster';
    margin-bottom: 25px;
}
.skills .skill >span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;

}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: Orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: Orange;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;

}
/*BARRAS ANIMADAS*/
.skills .skill .swift{
    width: 0;
    animation: 2s swift forwards;

}
@keyframes swift{
0%{width: 0%;}
100%{width: 95%;}
}

.skills .skill .kotlin{
    width: 0;
    animation: 2s kotlin forwards;

}
@keyframes kotlin{
0%{width: 0%;}
100%{width: 80%;}
}

.skills .skill .python{
    width: 0;
    animation: 2s python forwards;

}
@keyframes python{
0%{width: 0%;}
100%{width: 50%;}
}

.skills .skill .c{
    width: 0;
    animation: 2s c forwards;

}
@keyframes c{
0%{width: 0%;}
100%{width: 50%;}
}

.skills .skill .ccc{
    width: 0;
    animation: 2s ccc forwards;

}
@keyframes ccc{
0%{width: 0%;}
100%{width: 50%;}
}

.skills .skill .cc{
    width: 0;
    animation: 2s cc forwards;

}
@keyframes cc{
0%{width: 0%;}
100%{width: 50%;}
}

.skills .skill .objc{
    width: 0;
    animation: 2s objc forwards;

}
@keyframes objc{
0%{width: 0%;}
100%{width: 50%;}
}

.skills .skill .htmlcss{
    width: 0;
    animation: 2s htmlcss forwards;

}
@keyframes htmlcss{
0%{width: 0%;}
100%{width: 50%;}
}

.skills .skill .mysql{
    width: 0;
    animation: 2s mysql forwards;

}
@keyframes mysql{
0%{width: 0%;}
100%{width: 80%;}
}

/*SECCION CV*/
.cv{
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;

}
.cv .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}
.cv h2{
    font-size: 48px;
    font-family: 'Roboto Mono';
    text-align: center;
    padding: 20px 0;

}
.cv .fila{
    display: flex;
    justify-content: space-between;

}
.cv .fila .col-derecha{
    width: 49%;
    padding: 0 20px;
}
.cv .fila .col-izquierda{
    width: 49%;
    padding: 0 20px;
}
.cv .fila .col-derecha h3{
    font-size: 28px;
    font-family: 'Lobster';
    margin-bottom: 25px;
}
.cv .fila .col-izquierda h3{
    font-size: 28px;
    font-family: 'Lobster';
    margin-bottom: 25px;
}
.cv .fila .col-izquierda{
    border-right: 2px solid #252A2E;
}
.cv .fila .col-derecha{
    border-left: 2px solid #252A2E;
}
.cv .fila .item-der{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.cv .fila .item-izq{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.cv .fila .item-der h4{
    font-size: 20px;
    margin-bottom: 10px;

}
.cv .fila .item-izq h4{
    font-size: 20px;
    margin-bottom: 10px;

}
.cv .fila .item-der .casa{
    color: Orange;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.cv .fila .item-izq .casa{
    color: Orange;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.cv .fila .item-der .fecha{
    display: block;
    color: Orange;
    margin-bottom: 10px;
}
.cv .fila .item-izq .fecha{
    display: block;
    color: Orange;
    margin-bottom: 10px;
}
.cv .fila .item-der p{
    line-height: 24px;
}
.cv .fila .item-izq p{
    line-height: 24px;
}
.cv .fila .item-izq{
    border-right: 2px solid Orange;
    margin-right: 20px;
}
.cv .fila .item-der{
    border-left: 2px solid Orange;
    margin-left: 20px;
}
.cv .fila .item-der .conectori{
    height: 2px;
    background-color: Orange;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.cv .fila .item-izq .conectori{
    height: 2px;
    background-color: Orange;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.cv .fila .item-der .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: Orange;
    float: left;
    position: relative;
    bottom: 4px;

}

.cv .fila .item-izq .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: Orange;
    float: right;
    position: relative;
    bottom: 4px;
}

/*PORTFOLIO*/

.portfolio{
    background-color: #252A2E;
    color: white;
    padding: 50px 20px;

}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}
.portfolio h2{
    font-size: 48px;
    font-family: 'Roboto Mono';
    text-align: center;
    padding: 20px 0;

}

.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    height: fit-content;
    max-width: 340px;
    margin: 10px;
    cursor: pointer;

}
.portfolio .galeria .proyecto .slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.portfolio .galeria .proyecto .slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: change 20s infinite;
    animation-direction: alternate;
}

.portfolio .galeria .proyecto .slider li{
    width: 100%;
    list-style: none;
    
}

.portfolio .galeria .proyecto img{
    width: 100%;
}

@keyframes change{
    0% {margin-left: 0;}
    25%{margin-left: 0;}

    30% {margin-left: -100%;}
    45%{margin-left: -100%;}

    50% {margin-left: -200%;}
    70%{margin-left: -200%;}

    75% {margin-left: -300%;}
    100%{margin-left: -300%;}

}

.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgb(255, 149, 0),rgba(255, 149, 0, 0.858));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/*SECCION CONTACT*/
.contacto{
    background-image: url(Imagenes/contact.png);
    background-color: #1e2326;
    color: white;
    padding: 50px 0;

}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Roboto Mono';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
 
}
.contacto .col{
    width: 100%;
    padding: 10px;
    position: center;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: white;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: white;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: orange;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}

/*FOOTER*/
footer{
    background-color: #252A2E;
    color: white;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;

}
.footer .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.footer h2{
    font-size: 48px;
    font-family: 'Roboto Mono';
    text-align: center;
    padding: 20px 0;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: Orange;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/*SECCION RESPONSIVE**/
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;

    }
    nav.responsive ul li{
        border-bottom: 1px solid white;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .aboutme .fila{
        display: block;
    }
    .aboutme .fila .col{
        width: fit-content;
    }
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .cv .fila {
        display: block;
    }

    .cv .fila .col-derecha{
        margin-left: 20px;
    }
    .cv .fila .col-izquierda{
        margin-right: 20px;
    }
    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}